.registrationContainer {
  height: 100%;
}

.registrationForm {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.registrationCardBody {
  display: flex;
  align-items: center;
}

.registrationImage {
  max-width: 100%;
}

.form-label {
  color: #000;
}

#registerBtn {
  background-color: #6937ff;
  color: #fff;
}

#registerBtn:hover {
  background-color: #542ee5;
}

.alert {
  margin-top: 20px;
}

.row {
  height: 100%;
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
}

.registrationFormCol {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 992px) {
  .registrationFormCol {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
