.reset-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .reset-password-title {
    text-align: center;
    color: #6a0dad; /* Purple color */
  }
  
  .reset-password-form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    color: #6a0dad; /* Purple color */
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #6a0dad; /* Purple border */
    border-radius: 5px;
  }
  
#resetbtn {
    width: 100%;
    padding: 10px;
    background-color: #ab47bc; /* Purple */
    border: none;
    border-radius: 5px;
    color: #fff; /* White text */
    cursor: pointer;
  }
  
#resetbtn:hover {
    background-color: #7b1fa2; /* Darker shade of purple on hover */
}
  
  .back-to-login-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #6a0dad; /* Purple color */
  }
  